*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #2b1d0f;
    color: white;
}
header nav{
    background-color: #212121;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
header nav h1{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform:uppercase;
}
header nav form{
    display: flex;
    justify-content: center;
}

form input[type="text"]{
    flex-grow: 1;
    margin-right: 10px;
}
form input[type="text"],button[type="submit"]{
            border: none;
            padding: 10px;
            font-size: 16px;
            border-radius: 4px;
}

button{
    background-color: #f44336;
    cursor: pointer;
    color: white;
     transition: background-color 0.3s ease-in-out;
}


button:hover{
    background-color: #ff5c5c;
}

.recipe-container{
    text-align: center;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 2fr));
    grid-gap: 40px;
    width: 80%;
    margin-top:10px auto;
     padding: 20px;
     place-items: center;

}

.recipe{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1), -5px -5px 10px rgba(34, 34, 34, 0.5);
    max-width: 350px;
    transition: transform 0.3s ease-out;
    cursor: pointer;

}
.recipe:hover{
transform: scale(1.04);
}
.recipe strong{
    font-size: normal;
    font-weight: 600px;
    margin-block: 5px;
}



.recipe p{
    font-size: 20px;
    color: #4a4a4a;
    margin: 5px 0;
}

.recipe span{
    font-weight: 600;
}
.recipe button{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    margin: 18px auto;
    border: none;


}
.recipe img{
    height: 300px;
    
}

.recipe-details{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  background-color: #694c2f;
  border-radius: 12px;
  width: 40%;
  height: 60%;
  font-weight: 20px;
  transition: all 0.5s ease-in-out;
  overflow-y: scroll;
}


/* Adding scrollbar to recipe details popup */
.recipe-details::-webkit-scrollbar{
    width: 10px;

}

.recipe-details::-webkit-scrollbar-thumb{
    background: #b5b5ba;
    border-radius: 10px;
    --webkit-border-radius:14px;
}

.recipe-details-content{
    padding: 30px;
}
.recipeName{
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    text-decoration-line: underline;

}
.recipeName,.ingredientList,.recipeInstructions{
    margin: 20px;
}

.ingredientList li{
    margin-bottom: 10px;
    margin-left: 10px;
    text-decoration: none;
    
}
.recipeInstructions p{
    line-height: 30px;
    white-space: pre-line;

}

.recipe-closeBtn{
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: fixed;
}

/* create a body scroll Bar */
body::-webkit-scrollbar{
    width: 16px;
}
body::-webkit-scrollbar-thumb{
    background: #a1a1a1;
}
body::-webkit-scrollbar-track{
    background: #ebebeb;
}
/* Responsive Code */


@media screen and (max-width:768px) {
header nav{
    flex-direction: column;
}.recipe-container{
 width: 100%;
 height: 100%;
}
.recipe-details{
    font-size: 1rem;
    width: 100%;
    height: 50%;
}
.recipe-closeBtn{
    margin-bottom: 20px;
    position: fixed;
}
.recipeInstructions p{
    font-size: 1.1rem;
    font-weight: 300;
}

header nav h1{
    margin-bottom: 10px;
    font-size: 100%;
}
.recipeName{
    width: 100%;
}
.recipe-container img{
    background-image: cover;
    background-position: fixed;
}

    header nav form{
        width: 80%;
    }
}

